@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*-------------------------------------- AQUÍ EMPIEZA EL RETO, MOBILE FIRTS (Móvil primero) -----------------------------------*/
/* ------------------------------------- VISTA INICIO ------------------------------------- */
body {
  font-family: 'Nunito Sans', sans-serif;
  display: grid;
  grid-template-areas:/* Nombramos las areas */
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;/* Solo añadimos una columna */
    grid-template-rows: 100vh 1fr 70px;/* añadimos tres filas una por cada elemento de estructura(header, main, footer) */
    gap: 2rem;/*  Con esto damos separación entre las filas */

}
/* -------------------------------------- HEADER --------------------------------------- */
header{/*  Header vista Inicio */
  grid-area: header;/* Asignamos el area */
  background-image: url('../img/new-zealand-hero.jpg');
  background-color: black;/* Se añade fondo negro por si falla la imagen */
  background-repeat: no-repeat;/* Para que la imagen se cuadre y no se repita */
  background-size: cover;/* Se adapta a la pantalla del dispositivo */
  background-position: center;/*  Centrado de la imagen */
  padding:  10rem 0;/* Le damos paddin arriba y abajo, pero no en los lados */
  text-align: center;/*  Centrado del texto */
  display: flex;/*  Añadimos flexbox al header */
  flex-direction: column;/* Dirección en columna del nav */
  justify-content: center;
}
header.about{ /* Estilo del header vista About */
  background-image: url('../img/about-us.jpg');
}
header.services{ /* Estilo del header vist Services */
  background-image: url('../img/services.jpg');
}
header h1{/*  Estilo al h1 */
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-transform: uppercase;/*  Ponemos el titulo en mayúsuclas */
  text-shadow: 2px 2px 7px #404040;/* Sombreado de letras */
  order:2;/*  Con esto posicionamos el h1 debajo del nav */
}
header p{/* Estilo al p */
  color: rgb(219, 160, 12);
  font-size: 2rem;
  font-weight: bolder;/* Texto en negrita */
  order: 1;/* Se posiciona arriba del h1 */
}
header.about p, header.services p{/*  Esto elimina el elemento parrafo en las vistas del hedaer about y services */
  display: none;
}
header nav{/* Estilo del nav */
  order: 3;/* Esto lo posiciona debajo del h1 */
  margin-top: 3rem;/* Margen respecto al h1 */
}
header nav ul{ /* Estilo del ul */
  display: flex;
  flex-wrap: wrap;/* Envuelve el estilo flex para obligar a los items hijos permanecer siempre en el mismo sitio */
  gap: 0.5rem; /* Permiten establecer el tamaño de un «hueco» entre ítems desde el elemento padre contenedor, y sin necesidad de estar utilizando padding o margin en los elementos hijos. */
  justify-content: center;
}
header nav ul a{  /* Estilos de los enlaces */
  color: white;
  text-decoration: none;/* Anula el estilo subrayado de html */
  padding: 0.5rem;
  text-transform: uppercase;
}
header nav ul a:hover{ /* Efecto hover a los enlaces */
  color: rgb(219, 160, 12);
  transition: 0.3s all;
}
/* -------------------------------------- MAIN --------------------------------------- */
main{ /* Estilo para el main */
  grid-area: main;
  min-height: 50vh;
  padding: 2rem;
  max-width: 1200px;/* Controlamos el ancho de pantalla para que no crezca más de 1200px */
  margin: 0 auto;/* Con este estilo lo centramos al centro, poruqe al agrandar la pantalla se nos iria a la izquierda */
}
main.index{/* Estilo para los hijos de main */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
main.index article{/* Estilo para article */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.choose-us-box{ /* Damos forma a la caja de los li */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.choose-us-box li{
  display: flex;
  justify-content: space-between;/* Misma distancia entre ellos */
  align-items: center;
  background-color: hsl(39, 100%, 50%);
  box-shadow: 1px 2px 6px 0px #404040; /* Esta propiedad adjunta una o más sombras a un elemento. */
  min-height: 10rem; /* Le damos una altura de 10rem */
}
.choose-us-box li:nth-child(even){/* Efecto mas oscuro para los li pares, o sea el li-- li-4, y asi seguidamente... */
  background-color: hsl(39, 100%, 40%);
}
.choose-us-box li span{ /* Estilo de elemento span */
  color: white;
  width: 40%;/* Ocupa un 40% del padre */
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}
.choose-us-box li p{ /* Estilo al elemento parrafo */
  background-color: white;
  color: #404040;
  width: 60%;/* Tamaño del 60% respecto al padre */
  align-self: stretch; /* Centra las alineaciones dde los elementos dentro de un elemento flexible */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
article.place-to-visit p{ /* Eleminamos de la vista los parrafos */
  display: none;
}
article.place-to-visit section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 25rem;
  padding: 1rem;
}
.place-to-visit h3{
  color: #ffb84d;
  font-size: 3rem;
  transition: 0.5s all; /* Animación del h3 */
  z-index: 2; /* Eje z para que podamos suporponer la imagen con el texto h3 */
}
.place-to-visit img{
  filter: grayscale(1); /* Efecto de imagen que cambia a gris y cuando se le aplica el hoover especificado mas abajo cambia a su color */
  position: absolute; /* La posición de la imagen es absoluta sobre el elemento h3 y su padre */
  top: 0; /* Ajustamos la imagen al dispositivo a partir de aqui */
  height: 100%;
  width: auto;
  object-fit: cover;
  z-index: 1;
}
article.place-to-visit section:hover > h3{ /* Estilo hoover a los elementos junto con h3 para dar efecto de selecionar */
  opacity: 0;
}
article.place-to-visit section:hover > img{
  filter: grayscale(0)/* Al llegar a la altura de la imagen esta vuelve a su color y se desvanece el elemento h3 */;
}

/* ------------------------------------- VISTA SERVICIOS ------------------------------------- */
.service-box {/* Estilo a las cajas de service y espaciado */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;/* Espacio de 2rem entre cajas en eje columna */
}
.service{ /* !!Ojo!! con el ancho porque te puede dar scroll y moverte todo el diseño */
  min-height: 15rem;/* Mínimo de alto */
  min-width: 16rem; /* Mínimo de ancho */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffb84d;
  color: white;
  font-size: 2 rem;
  box-shadow: 1px 1px 10px #404040;
}
.service > p{
  margin-top: 1rem;/*  Se le aplica un espaciado arriba respecto al padre */
}
.service p:last-child{ /* Especifica un color de fondo para el elemento <p> que es el último hijo de su padre  */
  font-size: 5rem;
  font-weight: bold; /* Texto en negrita */
  background-color: white;
  width: 100%; /* Coge el ancho del 100% de la caja */
  color: #ffb84d;
  margin-top: auto; /* Así se separa del resto de elementos p y lo empuje hacia abajo */
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  border: 4px solid #ffb84d;
}

/* ------------------------------------- VISTA ABOUT ------------------------------------- */
main.about{ /* Estilo al main */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about-article{ /* Estilo al article */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-article section{ /* Estilo al section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.about-article h3{ /* Estilo al h3 */
  font-size: 2rem;
  color: #ffb84d;
}
.mask{/* Crear avatares de las iamgenes, importante que esten dentro de un div que lo envuelva todo */
  /* Primero creamos un cuadrado de imagen perfecto */
  width: 15rem;
  height: 15rem;
  /* Aplicamos forma redondeada a la imagen junto con border */
  border-radius: 50%;
  border: 10px solid #ffb84d;
  /* Aplicamos display flex para que la imagen ocupe todo el elemento */
  display: flex;
  /* con overflow: hidden esconde detras todo lo que sobresalga del border */
  overflow: hidden;
  /* Aplicamos sombreado */
  box-shadow: 1px 1px 10px #404040;
}
/* Despues de crear los avatares damos a la imagenes un formato realy proporcion */
.mask > img{
  object-fit: cover;
}
/* Estilo para formulario */
.form-article{
  display:flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
 /* Estilo para formulario que esta envuelto todo con un div */
.form-container{
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 1rem;
}
form{ /* Estilo del formulario */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
fieldset{
  border: none; /* Eliminamos el border del fielset */
}
input[type="text"], input[type="email"]{ /* Estilos para los input del formulario */
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"]{ /* Estilo para el boton enviar, ojo en un futuro porque al declararlo así puede afectar a todos los botones de tipo submit */
  background-color: #ffb84d;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
/* -------------------------------------- FOOTER --------------------------------------- */
footer{
  grid-area: footer;
  padding: 2rem;
  background-color: #404040;
  color:#ffb84d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------- MEDIA QUERIES ---------------------------*/
/* MEDIA QUERIES PARA PANTALLA A PARTIR DE 640PX */
@media screen and (min-width: 640px){ /* Media queries para el header a partir de 640px */
  /* HEADER */
  header h1{
    font-size: 5rem;
  }
  header p{
    font-size: 4rem;
  }
  header nav ul a{
    font-size: 1.25rem;
  }
  /* Media Queries para la vista services */
  .service{
    min-width: 20rem; /* Aumentamos de 16px a 20px el ancho de las cajas */
  }
  /* Formulario para la vista about a partir de 640px para que se haga mas grande */
  .form-container{
    min-width: 500px;
  }
}
/* MEDIA QUERIES PARA PANTALLA A PARTIR DE 1024PX */
@media screen and (min-width: 1024px) {
  /* MAIN */
  .choose-us-box{
    flex-direction: row;/* Pasa los lementos del main de colmuna a filas a partir de 1024px */
    gap: 2rem;
  }
  main.index article.place-to-visit { /* A partir de aqui se aplica media queries para las iamgenes y h2 para que se alineen al tamaño de pantalla de 1024px */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    /* Formato para avatar de vista ABOUT */
    .about-article{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    
    }
    .about-article > p, .about-article h3{
      width: 100%;
    } 
  
  .place-to-visit > h2{
    width: 100%;
  }
  .place-to-visit section{
    width: 45%;
  }
}

/* MEDIA QUERIES PARA PANTALLA A PARTIR DE 1563PX */
@media screen and (min-width: 1536px){
  /* pagina servicios */
  .service-box{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 7rem); /* Aplicamos 4 columnas de 7rem que es la mitad del alto que le dimos en la vista movil */
    gap: 0 rem 5rem;
  }
  .service{
    grid-row: 2/4;
  }
}
/* .service:nth-child(2){ Selector para que la caja dos este mitad ariba del resto de sus hermanos
  grid-row: 1/3;
} */